*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
:root{
    --theme: rgb(0, 162, 255);
    --timing: 0.5s;
    --background-white: white;
}

.transparency{
    padding: 0;
    background: transparent;
    border: none;
}
.main-container{
    padding: 10px;
}